APP_NAME=ChurchCMS
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=churchcms
DB_USERNAME=root
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=log
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

REMINDER=mail

MAIL_FROM_ADDRESS=noreply@example.com

MAIL_STATUS=on

SMS_GATEWAY=MSG91
REMINDER_API_KEY=
REMINDER_SENDER_ID=
REMINDER_ROUTE_NO=4

SMS_STATUS=off

FCM_SERVER_KEY=

FCM_SENDER_ID=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

TIMEZONE=Asia/Kolkata

FILESYSTEM_DRIVER=local

AWS_KEY=
AWS_SECRET=
AWS_REGION=ap-south-1
AWS_BUCKET=
AWS_ENDPOINT=


GOOGLE_RECAPTCHA_KEY=
GOOGLE_RECAPTCHA_SECRET=

MIX_AWS_ACCESS_KEY=
MIX_AWS_SECRET_KEY=
MIX_AWS_ARN_URL=

TWILIO_SID=
TWILIO_TOKEN=
TWILIO_KEY=
TWILIO_SECRET=

DEBUG_BAR=true

KURENTO_VIDEO=http://localhost/video/
KURENTO_SERVER=http://localhost:3000/

ANALYTICS_VIEW_ID=

CACHE_TIME=84000
